@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>@Page.Title</h1>

</hgroup>


<h4>Address</h4>
<address>
    Fifth Avenue at Central Park South<br />
    New York, NY 10019<br />

</address>

<h4>Give us a call and we will be happy to accomadate all your needs.</h4>


<address>
    <abbr title="Phone">Front desk:</abbr>
    (212)-759-3000<br />
    <abbr title="Phone">Customer Service (24/7):</abbr>
    (888)-850-0909
</address>
<h4> E-mail:</h4>

<address>
    <strong>CustomerCare:</strong> <a href="mailto:Support@example.com">Support@ThePlazaNY.com</a><br />
    <strong>Services:</strong> <a href="mailto:Marketing@example.com">Services@ThePlazaNY.com</a><br />
    <strong>Events:</strong> <a href="mailto:Marketing@example.com">Events@ThePlazaNY.com</a><br />
</address>
<p>Website Creator: Hunter Czarnik</p>