@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}
<img src="~/Images/plazahome.jpg" alt="Plaza Home" class="image">
<div class="row">
    <div class="col-md-3">
        <h2>About Us</h2>
        <p>
            Located in the heart of New York City overlooking Central Park,
            The Plaza Hotel delivers unmatched luxury for its guests. Since its opening in 1907,
            The Plaza has become one of the world’s most celebrated hotels,
            welcoming notable guests including presidents, royalty,
            and countless celebrities through the years.
            Soon after the hotel celebrated its 100th birthday,
            it reopened in 2008 after an extensive lobby to roof renovation
            that welcomed the hotel into the 21st century. The $450-million
            restoration is evident in all of The Plaza’s spaces, from its
            lobby and luxury suites to its elegant event spaces and fine-dining establishments.<br /><br />

            The Plaza is one of New York City’s most iconic hotels, in part,
            because of the history that resides within its walls. In 1955,
            author Kay Thompson published her first Eloise book, which detailed
            the antics of the capricious Eloise who resides at The Plaza Hotel.
            Audiences adored mischievous Eloise, and The Plaza still celebrates
            her today with an Eloise Suite available for guests. Guests can also
            visit The Eloise Shop or enjoy an afternoon tea, Eloise style. The Plaza
            also served as the site of the film Home Alone 2: Lost in New York.
            Much of this film, starring Macaulay Culkin, was filmed in the lobby.
        </p>

    </div>
    <div class="col-md-3">
        <h2>Amenities</h2>
        <ul>
            <li>Complimentary breakfast at 7:00 am everyday</li>
            <li>Guerlain Spa available for all guests</li>
            <li>State-of-the-Art health facilities</li>
            <li>Amenities provided in all rooms</li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Rooms</h2>
        <ul>
            <li>Plaza King</li>
            <li>Deluxe King</li>
            <li>Deluxe Two Queen</li>

        </ul>
        <a href="~/Rooms">Make a reservation today!</a>
    </div>
    <div class="col-md-3">
        <h2>Services</h2>
        Guests of The Plaza enjoy more than just the luxuries of a five-star hotel.
        Thanks to its location in the heart of Manhattan, guests of The Plaza also
        benefit from convenient access to New York City’s best spots. With a wide
        selection of New York’s finest boutique shops the Plaza is an extension of
        5th avenue shopping, allowing you to shop along one of the world’s most
        storied streets. Plus, Central Park is just steps away, giving you access
        to the park’s many activities. Visit the Central Park Zoo, ride the Carousel,
        or have a picnic in Sheep Meadow for a quintessential New York City day.<br /><br />

        You’ll discover plenty to do inside The Plaza as well. The hotel serves as far
        more than simply your spot to sleep after a busy day in the city. The Plaza is
        a city in its own right as well. The Plaza Shops feature luxury goods,
        one-of-a-kind gifts, and elegant home furnishings and accents. Enjoy breakfast,
        afternoon tea, or dinner at The Palm Court or a glass of wine at The Champagne Bar,
        which overlooks 5th Avenue and the Pulitzer Fountain. Discover a new dish every day
        of your stay at The Todd English Food Hall, which serves many different cuisines.<br /><br />

        The Plaza Hotel also offers opportunities for relaxation, wellness, and well-deserved
        pampering. Visit the Guerlain Spa and enjoy a customized treatment, such as a facial,
        massage, or makeup application perfect for a night out in the city. Our state-of-the-art
        fitness center, La Palestra, offers group fitness classes, personal training sessions,
        and a host of fitness equipment.<br /><br />

        During your stay at The Plaza Hotel, you will enjoy unsurpassed customer service and luxury
        accommodations and amenities. The rich history of this hotel is evident in its architecture,
        design, and decor. So, book your stay in one of New York City’s most iconic hotels, located
        in the heart of Manhattan.<br /><br />

        Need additional information? <a href="~/Contact">feel free to contact us!</a>
    </div>
</div>
